:root {
	--dark-grey: #333333;
	;
	--white: hsl(0, 0%, 100%);
	--btncolor: rgb(220, 147, 11);
	--grey: #3A3A3F;
	--orange: #E26503;
	--black: #0e1111;
	--lighter-grey: #d6dbde;
	--dark-grey: #333333;
	--light-grey: #656565;

}

@font-face {
	font-family: Roboto-regular-font;
	src: url(Fonts/Roboto/Roboto-Regular.ttf);
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;

	scroll-behavior: smooth;
	font-family: Roboto-regular-font;

}

/* --------------Navbar---------------------------------- */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-grey);

}

li a {
	display: block;
	color: var(--lighter-grey);
	font-size: 20px;
	text-decoration: none;
	transition: 0.7s;
	list-style-type: none;
	border: 2px solid var(--lighter-grey);
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	transition: 0.7s;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	width: 115px;



}






li a:hover {
	font-size: 21px;
	margin-right: 20px;
	color: var(--dark-grey);
	background-color: var(--lighter-grey);
	border-color: var(--btncolor);
	box-shadow: 0 0 15px var(--btncolor);
}


.nav-container {
	position: sticky;
	top: 0;
	z-index: 2;

}

.div-nav {
	background-color: var(--dark-grey);
	height: 8vh;
	width: 100%;
}




/* ------------Navbar-End-------------------------------------- */


/* ------------Hero-Start-------------------------------------- */

.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bilder/wp2476741.jpg);
	height: 100vh;
	width: 100vw;


}

.hero-me {
	transform: 2s ease-in;
	box-shadow: 0 0 10px var(--lighter-grey);
	box-shadow: 0 0 10px var(--lighter-grey);
	border-radius: 25%;
	display: block;
}

.hero-me-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 20vh;

}

.btn-cv {
	margin-top: 10px;
	padding: 20px;
	border-radius: 25px;
	background-color: var(--btncolor);
	border: none;
	cursor: pointer;
	transition: 0.7s;
	box-shadow: 0 0 15px var(--btncolor);
	margin: 10px;
}

.btn-contact {
	padding-left: 37px;
	padding-right: 37px;

}

.div-btn {
	display: flex;
	flex-direction: row;
}

.btn-cv:hover {
	background-color: var(--lighter-grey);
	color: var(--dark-grey);
	font-size: 15px;

}

#welcome-me {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 50px;
	color: var(--lighter-grey);
	padding-left: 20px;
}

#name-me {
	padding-top: 20px;
	font-size: 70px;
	color: var(--lighter-grey);
	padding-left: 20px;
	margin-top: 0;
	transition: 2s;
}

#pic-me {
	height: 50vh;
	border-radius: 60%;
	transition: 1.3s;
}

#pic-me:hover {
	transform: scale(1.01);
	box-shadow: 0 0 15px var(--btncolor);
}

/* ------------------Hero-End---------------------------------- */



/* ------------------About-Start---------------------------------- */
.container-about1 {
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	background-color: var(--grey)
}

.h1-about {
	margin-top: 15px;
	color: var(--orange);
}

.about-me-h1 {
	color: var(--lighter-grey);
	font-size: larger;
	border: 2px solid var(--grey);
	border-radius: 2%;
	box-shadow: 0 0 20px var(--grey);
	width: 30%;
	height: 50%;
	margin-top: 13%;
	text-align: center;
	background-color: var(--dark-grey);
}

.about-p {
	font-size: 25px;
	margin: 20px;
	line-height: 30px;
	margin-top: 35px;
}


/*------------------About-End---------------------------------------*/

/*------------------Project-----------------------------------------*/

.download-cv{
	text-decoration: none;
	color: var(--black);
}

.container-project1 {
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: var(--grey)
}

.project-div {
	color: var(--lighter-grey);
	font-size: larger;
	border: 2px solid var(--grey);
	border-radius: 2%;
	box-shadow: 0 0 20px var(--grey);
	width: 30%;
	height: 70%;
	margin-top: 13%;
	text-align: center;
	background-color: var(--dark-grey);

	margin: 20px;

}

.project-p {
	font-size: 25px;
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 10px;
	height: 300px;

}

.main-h11 {
	text-align: center;
	background-color: var(--grey);
	color: var(--white);
	margin-bottom: 0;

}

.h1-project {
	color: var(--orange);
	margin-top: 15px;
}


.gitlogo {
	margin-top: 40px;
	width: 100px;
}

.gitlogof {
	margin-top: 60px;
	width: 16%;
	cursor: pointer;
	transition: 0.6s;
	box-shadow: 0 0 20px var(--btncolor);
	border-radius: 49px;

}

.git {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.gitlogof:hover {
	width: 15%;
	box-shadow: 0 0 1x var(--btncolor);
	border-radius: 49px;
	}




/*--------------------projects-End----------------------------------------*/


/*----------------skills---------------------*/

.container-skills1{
	background-color: var(--grey);
	display: flex;
	justify-content: space-around;
	padding-top: 70px;
	padding-bottom: 70px;

	
	
}

.skills-div img{
width: 70px;	
margin: 25px;
	transition: 1s;
}

.skills-div img:hover{
	cursor: pointer;
}


/*--------------------contact-----------------------------------------------*/
#h1-contact {
	display: flex;
	justify-content: center;
}

.arrowpic {
	width: 50px;
}

.arrow {
	display: flex;
	justify-content: center;
	background-color: var(--grey);
	animation: rotation 8s infinite linear;
	padding-top: 25px;

}

/*---------------makes the arrow spin----------------*/
/* @keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  } */
/*-------------------------------------------------------*/


.container-form1 {
	height: 30vh;
	background-color: var(--grey);

	display: flex;
	justify-content: center;
	align-items: center;

}

.firstname1{
	flex-direction: row;
}

.country {
	display: block;
	flex-direction: column;
}


.btn-submit1 {
	background-color: var(--grey);
	
	


}

.btn-submit2 {
	width: 200px;
	margin-left: 20px;
	margin-top: 49px;
	
	

}

.inputforme1 {
	padding: 20px;
	border-radius: 15px;
	border-color: none;
	transition: 0.6s;
	border: none;
	width: 200px;
	margin-left: 20px;

}

.inputforme:focus {
	padding: 25px;
	border: solid 2px var(--orange);
	border-color: none;

}


.container-form1 label {
	display: block;
	padding-left: 26px;

	color: var(--btncolor);
	padding-bottom: 20px;

}

#lastname {
	padding-left: 0;
}

.arrow-form1 {
	padding-right: 5.5px;

	width: 20px;
}


/*--------------------contact-end-----------------------------------------------*/


/*---------------------------- reference-----------------------------*/

.refrence{
	height: 70vh;
	background-color: var(--grey);
	display: flex;
	justify-content: space-evenly; 
	padding-bottom: 250px;
}
.refrence-h1{
	text-align: center;
	background-color: var(--grey);
	margin: 0;
	padding-bottom: 50px;
	color: var(--lighter-grey);
}
.refrence div{
	background-color: var(--dark-grey);
	color: var(--lighter-grey);
	width: 450px;
}

.refrence div h5{
	color: var(--orange);
	text-align: center;
	font-size: 28px;

}
.refrence div p{
	padding: 20px;
	font-size: 20px;
}


.bg-1{
	background-color: var(--dark-grey);
	border: none;
}
/*-----------------------------------refernce end ----------------*/





/*----------------------------Footer-stard--------------------------*/

footer {
	height: 20vh;
	justify-content: center;
	
	background-color: var(--dark-grey);
}



.gitlogo-footer {
	width: 50px;
	display: inline;

}


.social-media {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.social-media,img{
	margin: 8px;
	margin-top: 0;

}




.cv-footer{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	

}

/*------------------------footer-end----------------------*/

/* ----------------------WEb RESPONSIV------------------------------------------------*/
@media (max-width: 768px) {
	.container-about1, .container-project1, .container-skills1, .container-form1, .refrence {
		 flex-direction: column;
		 align-items: center;
	}

	footer{
		height: 45vw;
	}

	.about-me-h1, .project-div, .inputforme1, .refrence div {
		 width: 90%;
		 font-size: 18px;
	}

	#name-me {
		 font-size: 32px;
	}

	.main-h11{
		padding-top: 200px;
	}
	.git{
		padding-top: 0;
		padding-bottom: 35px;
	}
	.container-skills1{
		padding-top: 0;
	}

	.about-p, .project-p {
		 font-size: 18px;
		 margin-top: 20px;
	}
	.container-about1, .container-project1, .container-skills1, .container-form1, .refrence  {
		padding-bottom: 100px; 
  }

  .container-about1, .container-project1, .container-skills1, .container-form1, .refrence {
	height: 100vh; 
	padding-bottom: 50px; 
}
}

@media (max-width: 480px) {
	#name-me {
		 font-size: 24px;
	}

.nav-container,.container1,.container-about1,.container-project1,.container-skills1,.refrence-h1,.refrence,.container-form1,.arrow, footer{
		width: 100vh;
	}


.main-h11{
	width: 100vh;
	padding-top: 300px;
}

	.about-me-h1, .project-div, .inputforme1, .refrence div {
		 width: 95%;
		 font-size: 16px;
	}

	.about-p, .project-p {
		 font-size: 16px;
		 margin-top: 15px;
	}
	.container-about1, .container-project1, .container-skills1, .container-form1, .refrence, .main-h11 {
		padding-bottom: 100px; 
  }
}

@media (min-width: 1200px) {
	.container-about1, .container-project1, .container-skills1, .container-form1, .refrence {
		 padding: 0 100px;
	}
	.container-about1, .container-project1, .container-skills1, .container-form1, .refrence, .main-h11 {
		padding-bottom: 100px; 
  }
 
}


/*-------------------------WEB RESPOSIVE END-----------------------------------------