:root {
	--dark-grey: #333333;
	;
	--white: hsl(0, 0%, 100%);
	--btncolor: rgb(220, 147, 11);
	--grey: #3A3A3F;
	--orange: #E26503;
	--black: #0e1111;
	--lighter-grey: #d6dbde;
	--dark-grey: #333333;
	--light-grey: #656565;

}

@font-face {
	font-family: Roboto-regular-font;
	src: url(Fonts/Roboto/Roboto-Regular.ttf);
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
	font-family: Roboto-regular-font;

}

/* --------------Navbar---------------------------------- */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-grey);

}

li a {
	display: block;
	color: var(--lighter-grey);
	font-size: 20px;
	text-decoration: none;
	transition: 0.7s;
	list-style-type: none;
	border: 2px solid var(--lighter-grey);
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	transition: 0.7s;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	width: 95px;



}






li a:hover {
	font-size: 23px;
	color: var(--dark-grey);
	background-color: var(--lighter-grey);
	border-color: var(--btncolor);
	box-shadow: 0 0 15px var(--btncolor);
}


.nav-container {
	position: sticky;
	top: 0;
	z-index: 2;

}

.div-nav {
	background-color: var(--dark-grey);
	height: 8vh;
	width: 100%;
}




/* ------------Navbar-End-------------------------------------- */


/* ------------Hero-Start-------------------------------------- */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bilder/wp2476741.jpg);
	height: 100vh;
	width: 100vw;


}

.hero-me {
	margin-top: 120px;
	transform: 2s ease-in;
	box-shadow: 0 0 10px var(--lighter-grey);
	box-shadow: 0 0 10px var(--lighter-grey);
	border-radius: 46%;
}

.hero-me-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 20vh;

}

.btn-cv {
	margin-top: 10px;
	padding: 20px;
	border-radius: 25px;
	background-color: var(--btncolor);
	border: none;
	cursor: pointer;
	transition: 0.7s;
	box-shadow: 0 0 15px var(--btncolor);
	margin: 10px;
}

.btn-contact {
	padding-left: 37px;
	padding-right: 37px;

}

.div-btn {
	display: flex;
	flex-direction: row;
}

.btn-cv:hover {
	background-color: var(--lighter-grey);
	color: var(--dark-grey);
	font-size: 15px;

}

#welcome-me {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 50px;
	color: var(--lighter-grey);
	padding-left: 20px;
}

#name-me {
	padding-top: 20px;
	font-size: 70px;
	color: var(--lighter-grey);
	padding-left: 20px;
	margin-top: 0;
	transition: 2s;
}

#pic-me {
	height: 50vh;
	border-radius: 48%;
	transition: 1.3s;
}

#pic-me:hover {
	transform: scale(1.05);
	box-shadow: 0 0 15px var(--btncolor);
}

/* ------------------Hero-End---------------------------------- */



/* ------------------About-Start---------------------------------- */
.container-about {
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	background-color: var(--grey)
}

.h1-about {
	margin-top: 15px;
	color: var(--orange);
}

.about-me-h1 {
	color: var(--lighter-grey);
	font-size: larger;
	border: 2px solid var(--grey);
	border-radius: 2%;
	box-shadow: 0 0 20px var(--grey);
	width: 30%;
	height: 50%;
	margin-top: 13%;
	text-align: center;
	background-color: var(--dark-grey);
}

.about-p {
	font-size: 25px;
	margin: 20px;
	line-height: 30px;
	margin-top: 35px;
}


/*------------------About-End---------------------------------------*/

/*------------------Project-----------------------------------------*/

.download-cv{
	text-decoration: none;
	color: var(--black);
}

.container-project {
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: var(--grey)
}

.project-div {
	color: var(--lighter-grey);
	font-size: larger;
	border: 2px solid var(--grey);
	border-radius: 2%;
	box-shadow: 0 0 20px var(--grey);
	width: 30%;
	height: 70%;
	margin-top: 13%;
	text-align: center;
	background-color: var(--dark-grey);

	margin: 20px;

}

.project-p {
	font-size: 25px;
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 10px;
	height: 300px;

}

.main-h1 {
	text-align: center;
	background-color: var(--grey);
	color: var(--white);

}

.h1-project {
	color: var(--orange);
	margin-top: 15px;
}


.gitlogo {
	margin-top: 40px;
	width: 100px;
}

.gitlogof {
	margin-top: 60px;
	width: 16%;
	cursor: pointer;
	transition: 0.6s;
	box-shadow: 0 0 20px var(--btncolor);
	border-radius: 49px;

}

.git {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.gitlogof:hover {
	width: 15%;
	box-shadow: 0 0 1x var(--btncolor);
	border-radius: 49px;
	}




/*--------------------projects-End----------------------------------------*/

/*--------------------contact-----------------------------------------------*/
#h1-contact {
	display: flex;
	justify-content: center;
}

.arrowpic {
	width: 50px;
}

.arrow {
	display: flex;
	justify-content: center;
	background-color: var(--grey);
	animation: rotation 8s infinite linear;
	padding-top: 25px;

}

/*---------------makes the arrow spin----------------*/
/* @keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  } */
/*-------------------------------------------------------*/


.container-form {
	height: 20vh;
	background-color: var(--grey);

	display: flex;
	justify-content: center;
	align-items: center;

}

.firstname {
	flex-direction: row;
}

.country {
	display: block;
	flex-direction: column;
}


.btn-submit1 {
	background-color: var(--grey);
	display: flex;
	justify-content: center;
	padding-bottom: 100px;


}

.btn-submit {
	padding-left: 37px;
	padding-right: 37px;
	width: 200px;
	margin-left: 25px;

}

.inputforme {
	padding: 20px;
	border-radius: 15px;
	border-color: none;
	transition: 0.6s;
	border: none;
	width: 200px;
	margin-left: 20px;

}

.inputforme:focus {
	padding: 25px;
	border: solid 2px var(--orange);
	border-color: none;

}


label {
	display: block;
	padding-left: 26px;

	color: var(--btncolor);
	padding-bottom: 20px;

}

#lastname {
	padding-left: 0;
}

.arrow-form {
	padding-right: 5.5px;

	width: 20px;
}


/*--------------------contact-end-----------------------------------------------*/




/*----------------------------Footer-stard--------------------------*/

footer {
	height: 20vh;
	justify-content: center;
	
	background-color: var(--dark-grey);
}

.h1-social-media {}

.gitlogo-footer {
	width: 50px;
	display: inline;

}


.social-media {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	
}




.cv-footer{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	

}

/*------------------------footer-end----------------------*/



/* ----------------------WEb RESPONSIV------------------------------------------------*/


@media only screen and (max-width: 480px) and (min-width: 279px) {

	body {
		background-color: #dc2c2c;
	}

	.container-web {
		width: 87vh;
	}

	.nav-container {
		width: 87vh;

	}

	.container {
		width: 100%;
	}

	.hero-me-text {
		width: 100%;
		margin-top: 0;
	}

	.hero-me {
		width: 30vh;
	}

	.container-about {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 87vh;
	}

	.about-me-h1 {
		width: 80%;
		margin: 10px;


	}

	.h1-about {
		font-size: 15px;

	}

	.about-p {
		font-size: 10px;
		margin-top: 5px;
	}

	.project-div {
		width: 87vh;
	}


	#welcome-me {
		font-size: 20px;
		padding-left: 20px;
		text-align: center;
	}

	#name-me {
		font-size: 30px;
		padding-left: 20px;
		margin-top: 0;
	}

	#pic-me {
		height: 30vh;

	}

	.container
}

@media only screen and (max-width: 768px) and (min-width: 481px) {

	.hero-me-text {
		height: 10vh;
		width: 100%;
		margin-top: 0;
	}

	.hero-me {
		height: 40vh;
		width: 40vh;

	}

	.container-about {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 73.06vh;
	}

	.about-me-h1 {
		width: 100%;
		margin: 10px;


	}

	.h1-about {
		font-size: 15px;

	}

	.about-p {
		font-size: 10px;
		margin-top: 5px;
	}


	#welcome-me {
		font-size: 25px;
	}

	#name-me {
		font-size: 40px;
		padding-left: 20px;
		margin-top: 0;
	}

	#pic-me {
		height: 40vh;

	}


}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.hero-me-text {
		height: 100%;
		width: 100%;
		align-items: center;
	}

	.hero-me {
		height: 100%;
	}

	.container-about {
		height: 100vh;


	}

	.about-p {
		font-size: 15px;
	}


}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {

	.hero-me-text {
		height: 100%;
		width: 100%;
		margin-top: 0;
	}

	.hero-me {
		height: 100%;
	}

	.about-p {
		font-size: 19px;
		margin-top: 15px;
	}


}

@media only screen and (max-width: 1536px) and (min-width: 1280px) {

	.hero-me-text {
		height: 100%;
		width: 100%;
		margin-top: 0;
	}

	.hero-me {
		height: 70vh;
	}

	.about-p {
		font-size: 24px;
	}

}

@media only screen and (max-width: 1920px) and (min-width: 1537px) {
	.hero-me-text {
		height: 100%;
		width: 100%;
		margin-top: 0;
	}

	.hero-me {
		height: 80vh;
	}

}

/*-------------------------WEB RESPOSIVE END-----------------------------------------